################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopCartSolution/.vs/ShopCartSolution/v17/.suo
/ShopCartSolution/.vs/ShopCartSolution/v17/DocumentLayout.json
